<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599146216783-np9gceqabfsglp5vpr73oel0nu1koq23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599146216783-np9gceqabfsglp5vpr73oel0nu1koq23</string>
	<key>API_KEY</key>
	<string>AIzaSyD7qCE6hPV1odUi9EZFkvfC-jYJle-68d8</string>
	<key>GCM_SENDER_ID</key>
	<string>599146216783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABC.Shareii</string>
	<key>PROJECT_ID</key>
	<string>squad-feadc</string>
	<key>STORAGE_BUCKET</key>
	<string>squad-feadc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599146216783:ios:438470b20397f2b040d93a</string>
</dict>
</plist>